<div class="top-wrapper">
  <div class="container">
    <h2>病みサーメンタルまとめとは</h2>
    <p>
      ロールを見たときに、この病気なんだろう？？<br>
      でも本人に聞き辛いと感じたことはありませんか？<br>
      そんなあなたのためにメンタルをまとめました！！
    </p>
  </div>
</div>
