<div class="top-wrapper">
  <div class="container">
    <font face="Comic Sans MS"><h1>YamiCircleとは<h1></font>
    <p>
      ロールを見たときに、この病気なんだろう？？<br>
      でも本人に聞き辛いと感じたことはありませんか？<br>
      そんなあなたのためにメンタルをまとめました！！
    </p>
    <%= link_to "メンタル一覧", posts_path, class: "btn" %>
  </div>
</div>
