<p id="notice"><%= notice %></p>

<div class="top-wrapper">
  <div class="container">
    <h1><%= @post.name %>とは</h1>
    <p>
      <%= @post.memo %>
    </p>
    <%= link_to "メンタル一覧", posts_path, class: "btn" %>
  </div>
</div>
